<div class="book">
  <h4><%= book.name %></h4>
  <p>Price: <%= book.price %></p>
  <p><%= image_tag(book.image, size:"200x300") %></p>
  <p>Description: <%= book.description %></p>
  <p>Category: <%= book.category.name %></p>
  <%= link_to 'Show', book_show_path(book) %>
</div>
